In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

from simplex_method_geocean import Get_New_Tableau, Check_Optimal, Get_Optimal_Result

# SIMPLEX Method - Ex2

The **Simplex** method is an approach to solving linear programming by hand using slack variables, tableaus and pivot variables as a means to finding the optimal solution.

**Maximize:**

$$ Z = 4X_1 + 6X_2$$

**Subject to:**

$$-X_1 + X_2 \leq 11$$

$$ X_1 + X_2 \leq 27$$

$$ 2X_1 + 5X_2 \leq 90$$

$$ X_1, X_2 \geq 0$$

## 1) Standarized Form

- Turn into a maximization problem
- All construaints must be $\leq$ or =
- All varibles should be $\geq$ 0

**Maximize:**

$$ Z = 4X_1 + 6X_2$$

**Subject to:**

$$-X_1 + X_2 \leq 11$$

$$ X_1 + X_2 \leq 27$$

$$ 2X_1 + 5X_2 \leq 90$$

$$ X_1, X_2 \geq 0$$

## 2) Determine slack variables

$$-X_1 + X_2 + S_1 \leq 11$$

$$ X_1 + X_2 + S_2\leq 27$$

$$ 2X_1 + 5X_2 + S_3 \leq 90$$

## 3) Setting up the Tableau

In [2]:
tableau = pd.DataFrame([
           [-1, 1, 1, 0, 0, 11],
           [1, 1, 0, 1, 0, 27],
           [2, 5, 0, 0, 1, 90],
           [-4, -6, 0, 0, 0, 0]
          ], columns = ['X1', 'X2', 'S1', 'S2', 'S3', 'b'])
tableau

   X1  X2  S1  S2  S3   b
0  -1   1   1   0   0  11
1   1   1   0   1   0  27
2   2   5   0   0   1  90
3  -4  -6   0   0   0   0

## 4) Check Optimality

For a solution to be optimal, all elements in the last row must be $\geq 0$

In [3]:
Check_Optimal(tableau)

Last Row is: [-4 -6  0  0  0  0]
Optimal solution NOT found

## 5) Identify Pivot Variable

In [4]:
pivot_column = np.argmin(tableau.iloc[-1,:]) # Select pivot column
print('Pivot Column is : ' +  tableau.keys()[pivot_column])

Pivot Column is : X2

In [5]:
tableau

   X1  X2  S1  S2  S3   b
0  -1   1   1   0   0  11
1   1   1   0   1   0  27
2   2   5   0   0   1  90
3  -4  -6   0   0   0   0

In [6]:
b_index = tableau.iloc[:-1,-1]/tableau.iloc[:-1, pivot_column]  # Divide b by pivot column
print(b_index)

b_mod = np.where(b_index>=0)[0]
row_piv_var = b_mod[np.argmin(b_index[b_mod])] #Row pivot variable

print('From the {0} column, the pivot variable is in row {1} '.format(tableau.keys()[pivot_column], row_piv_var))

0    11.0
1    27.0
2    18.0
dtype: float64
From the X2 column, the pivot variable is in row 0

## 6) Create new Tableau

- The Pivot variable will be transformed into 1
- All the other variables in the pivot column will be 0
- Each new value from the new tableau will be computed as: 

**New Table Value** = ***Negative Value in old Tableau Pivot Column*** * ***value in new tableau pivot row*** + ***old tableau value***

In [7]:
new_tableau = Get_New_Tableau(tableau, pivot_column, row_piv_var)

Old Tableau
    X1  X2  S1  S2  S3   b
0  -1   1   1   0   0  11
1   1   1   0   1   0  27
2   2   5   0   0   1  90
3  -4  -6   0   0   0   0

New Tableau
    X1  X2  S1  S2  S3   b
0  -1   1   1   0   0  11
1   2   0  -1   1   0  16
2   7   0  -5   0   1  35
3 -10   0   6   0   0  66

## 4) Check Optimality

For a solution to be optimal, all elements in the last row must be $\geq 0$

In [8]:
tableau = new_tableau.copy()

In [9]:
Check_Optimal(tableau)

Last Row is: [-10   0   6   0   0  66]
Optimal solution NOT found

## repeat 5) Identify Pivot Variable

In [10]:
pivot_column = np.argmin(tableau.iloc[-1,:]) # Select pivot column
print('Pivot Column is : ' +  tableau.keys()[pivot_column])

Pivot Column is : X1

In [11]:
tableau

   X1  X2  S1  S2  S3   b
0  -1   1   1   0   0  11
1   2   0  -1   1   0  16
2   7   0  -5   0   1  35
3 -10   0   6   0   0  66

In [12]:
b_index = tableau.iloc[:-1,-1]/tableau.iloc[:-1, pivot_column]  # Divide b by pivot column
print(b_index)

b_mod = np.where(b_index>=0)[0]

row_piv_var = b_mod[np.argmin(b_index[b_mod])] #Row pivot variable
print('From the {0} column, the pivot variable is in row {1} '.format(tableau.keys()[pivot_column], row_piv_var))

0   -11.0
1     8.0
2     5.0
dtype: float64
From the X1 column, the pivot variable is in row 2

## repeat 6) Create new Tableau

In [13]:
new_tableau = Get_New_Tableau(tableau, pivot_column, row_piv_var)

Old Tableau
    X1  X2  S1  S2  S3   b
0  -1   1   1   0   0  11
1   2   0  -1   1   0  16
2   7   0  -5   0   1  35
3 -10   0   6   0   0  66

New Tableau
    X1  X2        S1  S2        S3    b
0   0   1  0.285714   0  0.142857   16
1   0   0  0.428571   1 -0.285714    6
2   1   0 -0.714286   0  0.142857    5
3   0   0 -1.142857   0  1.428571  116

## repeat 4) Check Optimality

For a solution to be optimal, all elements in the last row must be $\geq 0$

In [14]:
tableau = new_tableau.copy()

In [15]:
Check_Optimal(tableau)

Last Row is: [  0.           0.          -1.14285714   0.           1.42857143
 116.        ]
Optimal solution NOT found

## repeat 5) Identify Pivot Variable

In [16]:
pivot_column = np.argmin(tableau.iloc[-1,:]) # Select pivot column
print('Pivot Column is : ' +  tableau.keys()[pivot_column])

Pivot Column is : S1

In [17]:
tableau

   X1  X2        S1  S2        S3    b
0   0   1  0.285714   0  0.142857   16
1   0   0  0.428571   1 -0.285714    6
2   1   0 -0.714286   0  0.142857    5
3   0   0 -1.142857   0  1.428571  116

In [18]:
b_index = tableau.iloc[:-1,-1]/tableau.iloc[:-1, pivot_column]  # Divide b by pivot column
print(b_index)

b_mod = np.where(b_index>=0)[0]

row_piv_var = b_mod[np.argmin(b_index[b_mod])] #Row pivot variable
print('From the {0} column, the pivot variable is in row {1} '.format(tableau.keys()[pivot_column], row_piv_var))

0    56.0
1    14.0
2    -7.0
dtype: float64
From the S1 column, the pivot variable is in row 1

## repeat 6) Create new Tableau

In [19]:
new_tableau = Get_New_Tableau(tableau, pivot_column, row_piv_var)

Old Tableau
    X1  X2        S1  S2        S3    b
0   0   1  0.285714   0  0.142857   16
1   0   0  0.428571   1 -0.285714    6
2   1   0 -0.714286   0  0.142857    5
3   0   0 -1.142857   0  1.428571  116

New Tableau
    X1  X2  S1        S2        S3      b
0   0   1   0 -0.666667  0.333333   12.0
1   0   0   1  2.333333 -0.666667   14.0
2   1   0   0  1.666667 -0.333333   15.0
3   0   0   0  2.666667  0.666667  132.0

## repeat 4) Check Optimality

For a solution to be optimal, all elements in the last row must be $\geq 0$

In [20]:
tableau = new_tableau.copy()

In [21]:
Check_Optimal(tableau)

Last Row is: [  0.           0.           0.           2.66666667   0.66666667
 132.        ]
Optimal solution found

In [22]:
tableau

   X1  X2  S1        S2        S3      b
0   0   1   0 -0.666667  0.333333   12.0
1   0   0   1  2.333333 -0.666667   14.0
2   1   0   0  1.666667 -0.333333   15.0
3   0   0   0  2.666667  0.666667  132.0

In [23]:
optimal_solution = Get_Optimal_Result(tableau)

optimal_solution

Optimal solution found
Basic Variables: ['X1', 'X2', 'S1']
Non Basic Variables: ['S2', 'S3', 'b']

     X1    X2    S1  S2  S3  b
0  15.0  12.0  14.0   0   0  0