In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

from simplex_method_geocean import Get_New_Tableau, Check_Optimal, Get_Optimal_Result

# SIMPLEX Method - Ex1

The **Simplex** method is an approach to solving linear programming by hand using slack variables, tableaus and pivot variables as a means to finding the optimal solution.

**Minimize:**

$$ -Z = - 8X_1 - 10X_2 -7X_3$$

**Subject to:**

$$X_1 + 3X_2 + 2X_3\leq 10$$

$$- X_1 - 5X_2 - X_3 \geq 8$$

$$ X_1, X_2, X_3 \geq 0$$

## 1) Standarized Form

- Turn into a maximization problem
- All construaints must be $\leq$ or =
- All varibles should be $\geq$ 0

**Maximize:**

$$ Z = 8X_1 + 10X_2 + 7X_3$$

**Subject to:**

$$X_1 + 3X_2 + 2X_3\leq 10$$

$$ X_1 + 5X_2 + X_3 \leq 8$$

$$ X_1, X_2, X_3 \geq 0$$

## 2) Determine slack variables

$$X_1 + 3X_2 + 2X_3 + S_1 \leq 10$$

$$ X_1 + 5X_2 + X_3 + S_2 \leq 8$$

## 3) Setting up the Tableau

Columns are:

$$[X_1, X_2, X_3, S_1, S_2, Z, b]$$

In [2]:
tableau = pd.DataFrame([
           [1, 3, 2, 1, 0, 0, 10],
           [1, 5, 1, 0, 1, 0, 8],
           [-8, -10, -7, 0, 0, 1, 0]
          ], columns = ['X1', 'X2', 'X3', 'S1', 'S2', 'Z', 'b'])
tableau

   X1  X2  X3  S1  S2  Z   b
0   1   3   2   1   0  0  10
1   1   5   1   0   1  0   8
2  -8 -10  -7   0   0  1   0

## 4) Check Optimality

For a solution to be optimal, all elements in the last row must be $\geq 0$

In [3]:
Check_Optimal(tableau)

Last Row is: [ -8 -10  -7   0   0   1   0]
Optimal solution NOT found

## 5) Identify Pivot Variable

In [4]:
pivot_column = np.argmin(tableau.iloc[-1,:]) # Select pivot column
print('Pivot Column is : ' +  tableau.keys()[pivot_column])

Pivot Column is : X2

In [5]:
tableau

   X1  X2  X3  S1  S2  Z   b
0   1   3   2   1   0  0  10
1   1   5   1   0   1  0   8
2  -8 -10  -7   0   0  1   0

In [6]:
b_index = tableau.iloc[:-1,-1]/tableau.iloc[:-1, pivot_column]  # Divide b by pivot column
print(b_index)

b_mod = np.where(b_index>=0)[0]

row_piv_var = b_mod[np.argmin(b_index[b_mod])] #Row pivot variable
print('From the {0} column, the pivot variable is in row {1} '.format(tableau.keys()[pivot_column], row_piv_var))

0    3.333333
1    1.600000
dtype: float64
From the X2 column, the pivot variable is in row 1

## 6) Create new Tableau

- The Pivot variable will be transformed into 1
- All the other variables in the pivot column will be 0
- Each new value from the new tableau will be computed as: 

**New Table Value** = ***Negative Value in old Tableau Pivot Column*** * ***value in new tableau pivot row*** + ***old tableau value***

In [7]:
new_tableau = Get_New_Tableau(tableau, pivot_column, row_piv_var)

Old Tableau
    X1  X2  X3  S1  S2  Z   b
0   1   3   2   1   0  0  10
1   1   5   1   0   1  0   8
2  -8 -10  -7   0   0  1   0

New Tableau
     X1  X2   X3  S1   S2  Z     b
0  0.4   0  1.4   1 -0.6  0   5.2
1  0.2   1  0.2   0  0.2  0   1.6
2 -6.0   0 -5.0   0  2.0  1  16.0

## 4) Check Optimality

For a solution to be optimal, all elements in the last row must be $\geq 0$

In [8]:
tableau = new_tableau.copy()

In [9]:
Check_Optimal(tableau)

Last Row is: [-6.  0. -5.  0.  2.  1. 16.]
Optimal solution NOT found

## repeat 5) Identify Pivot Variable

In [10]:
pivot_column = np.argmin(tableau.iloc[-1,:]) # Select pivot column
print('Pivot Column is : ' +  tableau.keys()[pivot_column])

Pivot Column is : X1

In [11]:
tableau

    X1  X2   X3  S1   S2  Z     b
0  0.4   0  1.4   1 -0.6  0   5.2
1  0.2   1  0.2   0  0.2  0   1.6
2 -6.0   0 -5.0   0  2.0  1  16.0

In [12]:
b_index = tableau.iloc[:-1,-1]/tableau.iloc[:-1, pivot_column]  # Divide b by pivot column
print(b_index)

b_mod = np.where(b_index>=0)[0]

row_piv_var = b_mod[np.argmin(b_index[b_mod])] #Row pivot variable
print('From the {0} column, the pivot variable is in row {1} '.format(tableau.keys()[pivot_column], row_piv_var))

0    13.0
1     8.0
dtype: float64
From the X1 column, the pivot variable is in row 1

## repeat 6) Create new Tableau

In [13]:
new_tableau = Get_New_Tableau(tableau, pivot_column, row_piv_var)

Old Tableau
     X1  X2   X3  S1   S2  Z     b
0  0.4   0  1.4   1 -0.6  0   5.2
1  0.2   1  0.2   0  0.2  0   1.6
2 -6.0   0 -5.0   0  2.0  1  16.0

New Tableau
    X1    X2   X3  S1   S2  Z     b
0   0  -2.0  1.0   1 -1.0  0   2.0
1   1   5.0  1.0   0  1.0  0   8.0
2   0  30.0  1.0   0  8.0  1  64.0

## repeat 4) Check Optimality

For a solution to be optimal, all elements in the last row must be $\geq 0$

In [14]:
tableau = new_tableau.copy()

In [15]:
Check_Optimal(tableau)

Last Row is: [ 0. 30.  1.  0.  8.  1. 64.]
Optimal solution found

In [16]:
optimal_solution = Get_Optimal_Result(tableau)

optimal_solution

Optimal solution found
Basic Variables: ['X1', 'S1', 'Z']
Non Basic Variables: ['X2', 'X3', 'S2', 'b']

    X1  X2  X3   S1  S2     Z  b
0  8.0   0   0  2.0   0  64.0  0